#lineup {
    font-size: 3.4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;

    user-select: text;
    z-index: 0;

    padding-top: 64px;

    justify-content: flex-start;
    align-items: flex-start;
}

#lineup b {
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    background-clip: text;
    color: transparent;
    font-family: "Lines Regular";
    font-weight: lighter;
    font-size: 6rem;
}

#lineup table {
    margin-bottom: 64px;
}

#lineup span {
    background: transparent;
}

ul {
    list-style: none;
    padding: 0;
}

#lineup table tr td{
    text-align: left;
    user-select: text;
}
#lineup table td {
    text-align: left;
    margin: 0;
}

#lineup tr td:nth-child(1) {
    font-family: "Helvetica Neue";
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 0.6em;
    padding-right: 24px;
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    background-clip: text;
}

#lineup tr td:nth-child(2) {
    font-family: "Helvetica Neue";
    font-weight: bold;
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    background-clip: text;
    color: transparent;
}

#lineup .scene {
    font-family: "Lines Regular";
    font-weight: normal;
    background: linear-gradient(to top left, var(--primary-color), var(--secondary-color));
    background-clip: text;
    color: transparent;
    margin: 0;
    font-size: 2em;
    text-align: left;
    align-self: flex-start;
    margin-bottom: 32px;
}

ul li {
    color: transparent;
    pointer-events: all;
    text-align: center;
    width: fit-content;
    margin: auto;
}

ul li.big {
    font-size: 1.4em;
}

ul li + li {
    margin-top: 12px;
}

@media screen and (min-width: 800px) {
    #lineup {
        font-size: 2rem;
    }
}