#why {
    font-size: 2.5vw;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
}

#why b {
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    background-clip: text;
    color: transparent;
}

#why span {
    background: transparent;
}

@media screen and (min-width: 800px) {
    #why {
        font-size: 1rem;
    }
}