#why {
    font-size: 2.5vw;
    font-weight: lighter;
    padding-top: 24px;
    z-index: 0;
    padding: 32px;
    text-align: justify;
    user-select: text;
    pointer-events: all;
    align-items: flex-start;
}

#why b {
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    background-clip: text;
    color: transparent;
}

#why span {
    background: transparent;
}

@media screen and (min-width: 800px) {
    #why {
        font-size: 0.8rem;
    }
}