@font-face {
  font-family: rubinstein;
  src: url(https://cdn.glitch.com/1bfb0163-5fac-4c1f-b329-89c0c8dfcba8%2FRUBINSTEIN-Regular.otf?v=1586081827425);
}

@font-face {
  font-family: rubinsteinOutline;
  src: url(https://cdn.glitch.com/1bfb0163-5fac-4c1f-b329-89c0c8dfcba8%2FRUBINSTEINOutline-Regular.otf?v=1586081827778);
}

html, body {
  font-family: "Montserrat";
  margin: 0;
  padding: 2px;
  position: relative;
}

h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: 100;
}
h1 span {
  font-size: 46px;
}
h1 b {
  font-weight: 600;
}

.centered {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(calc(-50vw), -50%);
}

.in-front {
  z-index: 100;
}

#logo {
  z-index: 100;
  position: absolute;
  top: -40px;
  left: -0px;
  width: 240px;
  height: 240px;
}

#left-menu {
  position: absolute;
  top: 118px;
  left: 48px;
  
  display: flex;
  flex-direction: column;
  
  align-items: start;
  justify-content: flex-start;
  
  transition: all 1s;
  
  transform: translateX(-120px);
  opacity: 0;
}

h3 {
  font-family: rubinstein;
  font-size: 3rem;
  font-weight: 400;
}
h3 span {
  font-family: rubinsteinOutline;
}

/*body.none*/ #left-menu {
  transform: none;
  opacity: 1;
}


#intro h1 {
  font-weight: 600;
}
body:not(.intro) #intro {
  opacity: 0;
  transform: translate(-50%, calc(120px - 50%));
  transition: all .4s;
}
body.intro #intro {
  opacity: 1;
  transition: all 1s .5s;
  transform: translate(-50%, -50%);
}

body:not(.why) #why {
  opacity: 0;
  transform: translate(-50%, calc(120px - 50%));
  transition: all .4s;
}
body.why #why {
  opacity: 1;
  transition: all 1s .5s;
  transform: translate(-50%, -50%);
}

body:not(.lineup) #lineup {
  opacity: 0;
  transform: translate(-50%, calc(120px - 50%));
  transition: all .4s;
}
body.lineup #lineup {
  opacity: 1;
  transition: all 1s .5s;
  transform: translate(-50%, -50%);
}

#left-menu a {
  display: block;
  height: 60px;
  text-align: center;
  
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 3rem;
  
  transition: all .6s;
  
  font-family: rubinsteinOutline;
  
  opacity: 0.9;
  
  text-align: left;
}

#left-menu a + #left-menu a {
  margin-top: 32px;
}

#left-menu a:hover {
  color: #de00e3;
  opacity: 1.0;
  font-family: rubinstein;
  transform: translateX(20px);
}

html, body {
  background: linear-gradient(to bottom right, #660066, #de00e3);
  animation: 2s color alternate infinite ease-in-out;
  overflow: hidden;
  color: white;
}

@keyframes color {
  from { background-position: 32px 0; }
  to { background-position: calc(100vw - 32px) 50vh; }
}


body.intro #scene {
  transform: none;
  opacity: 1;
}

#scene {
  transform: translateX(50vw) rotate(40deg) scale(1.8);
  opacity: 0.8;
  transition: all .7s ease-in-out;
}