#comment-form {
    position: absolute;
    
    bottom: 32px;

    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 64px);

    background-color: transparent;
    color: white;
}

#comment-form button {
    pointer-events: all;
    cursor: pointer;
    transition: all .5s;
}

#comment-form button:hover {
    background: var(--secondary-color);
}

@media only screen and (min-width: 768px) {
    #comment-form {
        left: initial;
        right: 32px;
        width: 400px;
        transform: none;
    }
}