#donation-button {

    color: white;
    
    padding: 12px 18px;

    background: var(--primary-color);
    color: black;

    transition: all .5s;
}

#donation-button:hover {
    color: white;
    background: var(--secondary-color);
}