#stage-selection-minimal {
    position: fixed;
    top: 16px;
    right: 32px;

    z-index: 1000;
}

.stage-selection-minimal-link + .stage-selection-minimal-link {
    margin-top: 16px;
}
#stage-selection-minimal .stage-selection-minimal-link {
    font-size: 1.6em;
    color: white;
    transition: all .5s;
}

#stage-selection-minimal .stage-selection-minimal-link.selected {
    color: transparent;
}

#stage-selection-minimal .stage-selection-minimal-link.selected {
    transform: translateX(-6px) scale(1.1);
}

@media only screen and (min-width: 768px) {
    #stage-selection-minimal {
        flex-direction: row;
    }
    .stage-selection-minimal-link + .stage-selection-minimal-link {
        margin-left: 32px;
        margin-top: 0 !important;
    }
    #stage-selection-minimal .stage-selection-minimal-link.selected {
        transform: translateY(6px) scale(1.1);
    }
}