input {
    padding: 16px;

    border: none;
}

button, .button {
    display: block;
    
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;

    border: none;

    color: white;
    background-color: black;

    font-size: inherit;
    font-weight: bolder;
}

.input-prefix {
    padding-left: 10px;
    padding-right: 8px;
    background-color: black;
}