#social-media {
    position: fixed;
    left: 20px;
    top: 94px;
    z-index: 21;
}

#social-media .icon {
    width: 24px;
    height: 24px;

    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));

    opacity: 1;
    transition: opacity .25s;
}

#social-media .icon:hover {
    opacity: 0.5;
}

#social-media .icon.facebook {
    mask-image: url(../assets/images/facebook.svg);
}

@media screen and (min-width: 800px) {
    #social-media {
        right: 24px;
        top: 24px;
        left: initial;
    }
    #social-media .icon {
        width: 32px;
        height: 32px;
    }
}